.app-summary-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: $primary;
  h2 {
    color: $background-color;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
.table-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(1.5rem, auto);
  justify-content: start;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.table-heading {
  font-size: 1rem;
  font-weight: 500;
  color: $primary;
}
.heading-row {
  display: grid;
  grid-template-columns: 6fr 1fr;
  justify-items: start;
  align-items: center;
  border-bottom: 1px solid $secondary;
  padding: 0.5rem;
}

.app-info-row {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 1fr;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
}

.content-row {
  display: grid;
  grid-template-columns: 6fr 1fr;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  // border-bottom: 1px solid $shadow;
  color: $text-secondary;
}
.content-row:hover {
  color: $text-primary;
}
.content-row:active {
  box-shadow: inset 1px 1px 1px 0px $shadow;
}

.app-info {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 1fr;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  // border-bottom: 1px solid $shadow;
  color: $text-secondary;
}

.app-info:hover {
  color: $text-primary
}

.app-info:active {
  box-shadow: inset 1px 1px 1px 0px $shadow;
}

.delete-app {
  cursor: pointer;
}