// styling for "./pages/AppDetailDisplay.tsx"
.appDetailContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  gap: 1rem;
}
.appDetailButtonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.appDetailAttributesContainer {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  padding: 0.5rem 1rem;
}