.add-app-button,
.back-button,
.edit-button,
.done-button,
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  border: none;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 100%;
  color: $background-color;
}
.add-app-button:hover,
.back-button:hover,
.edit-button:hover,
.done-button:hover,
.delete-button:hover {
  background-color: $background-color;
  color: $primary;
  cursor: pointer;
}
.add-app-button:active,
.back-button:active,
.edit-button:active,
.done-button:active,
.delete-button:active {
  box-shadow: inset 1px 1px 1px 0px $shadow;
}

.delete-button {
  color: $shadow;
  padding: 0;
  justify-self: center;
}
.delete-button:hover {
  color: $highlight
}