// styling for "./components/HeaderDisplay.tsx"
.nav {
  background-color: steelblue;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.navname {
  color: white;
  font-size: 26px;
}

.navleft {
  margin-left: 20px;
}

.navright {
  margin-right: 20px;
}

a:link {
  text-decoration: none;
}

.linkedin-login {
  margin-left: 20px;
  background: none;
	border: none;
	padding: 0;
  cursor:pointer;
}
