.landing-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.landing-page-hero {
  background-color: $primary;
  color: $background-color;
  padding: 1rem;
}
.hero-logo {
  display: flex;
  width: 60%;
  height: auto;
  justify-self: start;
}
.landing-page-login {
  background-color: $primary;
  padding: 1rem;
}
.linkedin-login {
  border: none;
  text-decoration: none;
}
.linkedin-login-img {
  border: 1px solid $background-color;
  border-radius: 0.5rem;
}
.linkedin-login-img:hover {
  box-shadow: 0 0 0 1px $background-color;
}
.linkedin-login-img:active {
  border: 1px solid $background-color;
  box-shadow: inset -1px 1px 0 0 $shadow; 
}
.landing-page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}