@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Oswald:wght@500&family=Roboto:wght@300;400;500;700;900&display=swap');

// GLOBAL CSS HERE
$font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 16px;
$text-color-primary: rgb(30,30,30);
$background-color: rgb(250,250,250);

:root {
  font-size: $font-size;
}

body {
  font-family: $font-stack;
  color: $text-color-primary;
  background-color: $background-color;
}

* {
  margin: 0;
  padding: 0;
}

.page-container {
  width: 800px;
  margin: 100px auto;
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// IMPORT COMPONENT CSS FILES HERE (globals override component)
@import "appDetailDisplay";
@import "appAttribute";
@import "editAppDisplay";
@import "headerDisplay";
@import "appSummaryDisplay";