@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Oswald:wght@500&family=Roboto:wght@300;400;500;700;900&display=swap');

// GLOBAL CSS HERE
$font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 16px;
$text-primary: #2D232E;
$text-secondary: rgb(150,150,150);
$shadow: rgb(230,230,230);
$background-color: #fcfefc;
$primary: #017AB6;
$secondary: #a8dadc;
$highlight: #D77A61;

:root {
  font-size: $font-size;
}

body {
  font-family: $font-stack;
  color: $text-primary;
  background-color: $background-color;
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
}

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-width: 800px;
  min-height: 80vh;
  margin: 2rem auto;
  border: 1px solid $primary;
  border-radius: 2rem;
  // padding: 1rem;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px $shadow;
}


// IMPORT COMPONENT CSS FILES HERE (globals override component)
@import "appDetailDisplay";
@import "appAttribute";
@import "editAppDisplay";
@import "headerDisplay";
@import "appSummaryDisplay";